<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
    <head>{{ template "chrome/head.html" . }}</head>

    <body>
        {{ template "chrome/sidebar.html" . }}

        <div class="content container">
            <div class="posts">
                {{ $count := 0 }}

                {{/* for each piece of content */}}
                {{ range .Data.Pages }}

                    {{/* if it's a post and we haven't already shown 10 yet */}}
                    {{ if and (eq .Type "post") (lt $count 10) }}

                        {{/* increment the count and display it */}}
                        {{ $count := (add $count 1) }}

                        <div class="post">
                            <h1 class="post-title">
                                <a href="{{ .Permalink }}">{{ .Title }}</a>
                            </h1>

                            <span class="post-date">
                                {{ .Date.Format "Jan 02 2006" }}
                            </span>

                            {{ .Content }}
                        </div>
                    {{ end }} {{/* endif */}}
                {{ end }} {{/* endrange */}}
            </div>
        </div>
    </body>
</html>
